.font-lato {
  font-family: "Lato", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-judson {
  font-family: "Judson", serif;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
